<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
</head>
<body>

<h2>Contacto</h2>

<p>Comercial Neptuno</p>
<p>Teléfono: 999999999</p>
<p>Email: neptuno@gmail.com</p>

<button onclick="location.href='/'">
    Regresar al Home
</button>

</body>
</html>