<!DOCTYPE html>
<html>
<head>
  <title>Reporte General Clientes</title>

  <style>
    body {
      font-family: Arial;
      margin: 30px;
    }

    button {
      padding: 10px;
      background: red;
      color: white;
      border: none;
      cursor: pointer;
    }

    a {
      display: block;
      margin-top: 20px;
    }
  </style>
</head>

<body>

<h1>📄 Reporte General de Clientes</h1>

<p>Descarga el reporte completo de todos los clientes.</p>

<!-- 📄 PDF TODOS -->
<form method="POST" action="/Rpt_Clientes">
  <button type="submit">
    Descargar PDF de TODOS los clientes
  </button>
</form>

<a href="/">
    <button>Volver al Home</button>
</a>


</body>
</html>